#Files to be ignored
*.pdf
*.fdb_latexmk
*.log
*.aux
*.bbl
*.dvi
*.out
*.latexmain
*.thm
*.synctex.gz
*.zpid
*.blg
*.fls
*~

*.spyderproject
*.spyderworkspace
*.zip
*.md
*.pyc
*.pkl

*.suo
*.sln
*.pyproj

# Folders to be ignored: all the checkpoints in any subdir
.ipynb_checkpoints/
OUTPUTS/
.idea/
.vs/
