#Files to be ignored
*.pdf
*.fdb_latexmk
*.log
*.aux
*.bbl
*.dvi
*.out
*.latexmain
*.thm
*.synctex.gz
*.zpid
*.blg
*.fls
*~

*.bat
*.spyderproject
*.spyderworkspace
*.zip
*.md

# Folders to be ignored
/.ipynb_checkpoints/
/TEMP/
/OUTPUTS/
